# Environments
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook (optional, but good to have)
.ipynb_checkpoints/

# Images
*.jpg
*.png

# Data Folder
data/
to_be_deleted/
